<div class="container-3">
  <div class="card">
    <nav class="navMenu">
      <a href="/">Home</a>
      <a href="/users">Users</a>
      <a href="/posts">Posts</a>
      <a href="/users/profile">Profile</a>
      <a href="/sessions/destroy">Log Out</a>
    </nav>
  </div>
</div>

<div class="container-2">
  <div class="card">
    <h1>friends list</h1>
  </div>
</div>
<div class="container-2">
  <div class="card">
      <ul>
          <l></l>
          



      </ul>

  </div>

</div>