<!DOCTYPE html>
<html>
  <head>
    <title>AceBook</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
  </head>
  <body>
    <a href="/posts">
    <img class="logo" src='/images/acebook-white.png'>
    </a>

    {{{body}}}
  </body>

  <footer>
  <p class="panda">Copyright &copy; 2022 <img src="/images/pandas.png"> PANDAS.</p>
  </footer>
</html>