<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>

  <footer>
  <p>Copyright &copy; 2022 <img src="/images/pandas.png"> PANDAS.</p>
  </footer>
</html>

{{!-- 
    <form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Log out">
    </form> --}}