body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer img {
  display: inline-block;
  margin-left: 0.625em;
  width: 1%;
}