@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap");

.container {
  max-width: 75%;
  margin: 0 auto;
  margin-top: 20vh;
  text-align: center;
  color: #231815;
  padding-bottom: -10%;
}

.container-2 {
  max-width: 75%;
  margin: 0 auto;
  margin-top: 5vh;
  text-align: center;
  padding-bottom: -10%;
}

.container-3 {
  max-width: 75%;
  margin: 0 auto;
  margin-top: 20vh;
  text-align: center;
}

.container-4 {
  max-width: 75%;
  margin: 0 auto;
  margin-top: 5vh;
}

.card {
  background-color: #e8e8e8;
  border: 2px solid #393e46;
  padding: 1px;
  border-radius: 30px;
}

.card-2 {
  background-color: #e8e8e8;
  border: 2px solid #393e46;
  padding: 20px;
  border-radius: 30px;
}

body {
  padding: 10px;
  font: 14px "Antonio", sans-serif;
  background-color: #252525;
}

body div .friends {
  font-size: 1.2em;
  color: #e8e8e8;
  font-family: "Antonio", sans-serif;
  margin-right: 10px;
}

.img-profile-list {
  display: block;
  max-width: 30%;
}

ul .img-post img {
  display: block;
  margin: 2% 0;
  width: 50%;
  height: 50%;
  background-color: #fff;
  border-radius: 3%;
  border: 1px solid #ccc;
}

.img-2 {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #252525;
}

.img-3 {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #252525;
}

.img-2:hover {
  box-shadow: 0 0 20px #7d0633;
}

span .img-2 {
  margin-bottom: 40px;
}

.avatar {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #252525;
}

.avatar:hover {
  box-shadow: 0 0 20px #7d0633;
}

.avatar-2 {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #252525;
}

.card-2 li {
  list-style: none;
  font-size: 1.5em;
  text-align: right;
}

.card-2 .user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5em;
}

.card-2 .user p {
  margin-left: 10px;
}

.card-2 .user-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.5em;
  margin-left: 15%;
}

.card-2 .user-2 p {
  margin-left: 10px;
}


.card-2 .edit {
  display: relative;
  color: #7d0633;
  margin-left: auto;
}

.card-2 .post {
  display: block;
  color: #7d0633;
  font-size: 2.5em;
  width: 60%;
}

.user-ui {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5em;
}

.user-ui a {
  margin-left: 10px;
}

.user-ui hr {
  border: 10px solid #252525;
  border-radius: 5px;
}

.logo {
  display: relative;
  max-width: 18%;
  display: block;
  margin: 0 auto;
  margin-bottom: -7%;
}

/* .logo:hover {
  background: url(/images/acebook-purple.png) no-repeat;
  width: 17.5%;
  color: #7d0633;
} */

h1:hover {
  color: #7d0633;
}

.panda:hover {
  color: #7d0633;
}

a {
  color: #fff;
}

.link {
  color: #7d0633;
  text-decoration: none;
}

.navMenu {
  position: relative;
  font-family: "Antonio", sans-serif;
  margin: 2em;
}

.navMenu a {
  color: #231815;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 95px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #7d0633;
  font-size: 1.5em;
}

.button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antonio", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fdf6f0;
  background-color: #231815;
  text-align: center;
  transition: all 0.2s;
  margin-left: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #7d0633;
}

.button-2 {
  display: inline-block;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antonio", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fdf6f0;
  background-color: #231815;
  text-align: center;
  transition: all 0.2s;
  margin: 10px 50px;
  cursor: pointer;
}

.button-2:hover {
  background-color: #7d0633;
}

.button-3 {
  display: inline-block;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antonio", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fdf6f0;
  background-color: #231815;
  transition: all 0.2s;
  margin: 10px 50px;
  width: 75%;
  height: 250px;
  cursor: pointer;
}

.button-3:hover {
  background-color: #7d0633;
}

.button-4 {
  display: absolute;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antonio", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fdf6f0;
  background-color: #231815;
  text-align: center;
  transition: all 0.2s;
  margin-left: 10px;
  width: 8%;
  cursor: pointer;
}

.button-4:hover {
  background-color: #7d0633;
}

.form-1 {
  display: inline-block;
  margin: 0 auto;
  margin-top: 5vh;
  text-align: center;
  padding-bottom: 2%;
}

.form-1 li {
  display: table-row;
}

.form-1 label {
  display: table-cell;
  font-size: 2em;
}

.form-2 {
  display: table;
  margin: 0 auto;
  margin-top: 5vh;
  text-align: center;
  padding-bottom: 2%;
}

.form-2 li {
  display: table-row;
}

.form-2 label {
  display: table-cell;
  font-size: 2em;
}

footer img {
  display: inline-block;
  margin-left: 0.625em;
  width: 5%;
  text-align: center;
}

footer {
  margin-top: 10%;
  color: #eeeeee;
  text-align: center;
  font-size: 2rem;
}

.error {
  color: crimson;
  font-size: 1.5rem;
}