<div class="container">
  <div class="card">
    <h1>LOGIN</h1>
  </div>
</div>

<div class="container-2">
  <div class="card">
    <form class="form-1" id="new-session-form" action="/sessions" method="post">
      <li>
        <label for="email">Email: </label>
        <input class="button" id="email" type="email" name="email" />
      </li>
      <li>
        <label for="password">Password: </label>
        <input class="button" id="password" type="password" name="password" />
      </li>
        <input class="button" id="submit" type="submit" value="Submit" />
    </form>
  </div>
</div>

<div class="container-2">
  <form action="/users/new">
    <input class="button" type="submit" value="Not a member? Click here to Sign Up!" />
  </form>
</div>