<div class="container">
  <div class="card">
    <h1>LOGIN</h1>
  </div>
</div>

<div class="container-2">
  <div class="card">
    <form id="new-session-form" action="/sessions" method="post">
      <label for="email">Email: </label>
      <input id="email" type="email" name="email" value="">
      <label for="password">Password: </label>
      <input id="password" type="password" name="password" value="">
      <input id="submit" type="submit" value="Submit">
    </form>
  </div>
</div>

<div class="nav3">
<nav class="navMenu">
      <a class="title2" href="/users/new">Not a member? Click here to sign up!</a>
      <div class="dot"></div>
</nav>
</div>