<div class="container">
  <div class="card">
    <h1>USER PROFILE DELETED</h1>
  </div>
</div>

<div class="container-2">
  <h1 class="error">{{user.firstName}} {{user.lastName}} we hope you change your mind.</h1>
  <form action="/">
    <input class="button" type="submit" value="Home" />
  </form>