<div class="container">
  <div class="card">
    <h1>SIGNUP</h1>
  </div>
</div>

<div class="container-2">
  <div class="card">
    <form class="form-1" id="new-user-form" action="/users" method="post">
      <li>
        <label for="firstName">First Name:</label>
        <input class="button" id="firstName" type="text" name="firstName" value="">
      </li>
      <li>
        <label for="lastName">Last Name:</label>
        <input class="button" id="lastName" type="text" name="lastName" value="">
      </li>
      <li>
        <label for="email">Email: </label>
        <input class="button" id="email" type="email" name="email" value="">
      </li>
      <li>
        <label for="password">Password: </label>
        <input class="button" id="password" type="password" name="password" value="">
      </li>
      <li>
        <label for="profilePictureURL">Profile Picture URL: </label>
        <input class="button" id="profilePictureURL" type="text" name="profilePictureURL" value="/images/avatar.png">
      </li>
      
        <input class="button-2" id="submit" type="submit" value="Submit">
    </form>
  </div>
</div>

<div class="container-2">
  <form action="/sessions/new">
    <input class="button" type="submit" value="Already a member? Click here to Login!" />
  </form>
</div>