<h1>Posts</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>

<nav class="navMenu">
      <a href="/">Home</a>
      <a href="/new-space">Add Space</a>
      <a href="/bookings">Bookings</a>
      <a href="/contact">Contact</a>
      <a href="/login">Log Out</a>
      <div class="dot"></div>
</nav>
