<nav class="navMenu">
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      <a href="/posts/new">Add Post</a>
      <a href="/profile">Profile</a>
      <a href="/sessions?_method=DELETE">Log Out</a>
      <div class="dot"></div>
</nav>

<h1>Posts</h1>
<ul class="posts">
  {{#each posts}}
  <li>{{this.message}}</li>
  {{/each}}
</ul>

<a class="new-post-link" href="/posts/new">New post</a>
