<form id="new-post-form" action="/posts" method="post">
  <label for="message">Message: </label>
  <input id="message" type="text" name="message" value="">
  <input type="hidden" name="user_id" value="{{user._id}}">
  <input type="submit" value="Submit">
</form>

<p>{{user._id}}</p>
