<div class="container-3">
  <div class="card">
    <nav class="navMenu">
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      <a href="/posts/new">Add Post</a>
      <a href="/users/profile">Profile</a>
      <a href="/">Log Out</a>
    </nav>
  </div>
</div>

<div class="container-2">
  <div class="card">
    <h1>ADD A POST</h1>
  </div>
</div>


<div class="container-2">
  <div class="card">
    <form class="form-1" id="new-post-form" action="/posts" method="post">
    <li>
      <label for="name">Name: </label>
      <input class="button" id="name" type="text" name="name" value="">
    </li>
    <li>
      <label for="message">Message: </label>
      <input class="button-3" id="message" type="text" name="message" value="">
    </li>
      <input type="hidden" name="user_id" value="{{user._id}}">
      <input class="button" type="submit" value="Post">
    </form>
  </div>
</div>